
#navBar {
    height: 5vh;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;

}

.navbar-img {
    height: 45px
}

.logo-header {
    display: flex;
    width: 490px;
    justify-content: space-between;
    margin-left: 500px;
}

header {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

ul {
    border: 1px solid black;
    width: 60vw;
    max-width: 1000px;
    min-width: 600px;
    display: flex;
    justify-content: space-around;
}

.navLink {
    color: rgb(46, 46, 46);
    text-decoration: none;
    font-size: larger;
}